body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 243);
}

input {
  padding: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  border-radius: 16px;
  border: none;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.wrap {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(255, 255, 243);
}

.input-box {
  width: 500px;
  margin: 8px;
  padding: 8px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 2);
}

.incomplete-box {
  width: 500px;
  margin: 8px;
  padding: 8px;
  min-height: 200px;
  border-radius: 5px;
  background-color: khaki;
}

.complete-box {
  width: 500px;
  margin: 8px;
  min-height: 200px;
  padding: 8px;
  border-radius: 5px;
  background-color: beige;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
  color: #666;
}

.list-row {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.list-item {
  margin-right: 5px;
}
